@import "./tailwind.css";

/* Custom CSS */
body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f9f9fc;
  color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#root {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
}

.gif-input {
  margin: 1rem 0;
  padding: 0.5rem;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

/* Timer-specific styles */
.Timer {
  font-size: 2.25rem;
  font-weight: bold;
  color: #02022a;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

/* Button styles */
button {
  margin: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  background-color: #3b82f6;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

button:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #1d4ed8;
}

/* Card styles */
.card {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1.5rem;
}

/* Utility classes */
.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: rgb(255, 255, 255);
}

.btn-primary {
  background-color: #3b82f6;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #1d4ed8;
}

.btn-secondary {
  background-color: #6b7280;
  transition: background-color 0.3s ease-in-out;
}

.btn-secondary:hover {
  background-color: #4b5563;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}